main {
    width: 65%;
    max-width: 1000px;
    min-width: 430px;
    margin: auto;
    display: block;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

td {
    box-sizing: border-box;
    border: 1px solid #80ced6;
    padding: 10px;
    border-radius: 5px;
    background-color: #f0fff8;
    }

p {
box-sizing: border-box;
background-color: #f0fff8;
padding: 30px;
border: 1px solid #80ced6;
border-radius: 5px;
}
ul {
    box-sizing: border-box;
    background-color: #f0fff8;
    padding: 30px;
    border: 1px solid #80ced6;
    border-radius: 5px;
    }